<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- <li
    class="list-group-item"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    Home page
  </li>
  <li class="list-group-item" routerLink="about" routerLinkActive="active">
    About Page
  </li>
  <li class="list-group-item" routerLink="contact" routerLinkActive="active">
    Contact Page
  </li> -->
  <li
    class="list-group-item"
    routerLink="countries/by-capital"
    routerLinkActive="active"
  >
    Por capital
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-country"
    routerLinkActive="active"
  >
    Por pais
  </li>

  <li
    class="list-group-item"
    routerLink="countries/by-region"
    routerLinkActive="active"
  >
    Por region
  </li>
</ul>
