<div *ngIf="countrie.length === 0; else table" class="alert alert-warning">
  No hay paises que mostrar
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of countrie; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ item.flag }}</td>
        <th><img [src]="item.flags.svg" [alt]="item.name.common" /></th>
        <th>{{ item.name.common }}</th>
        <th>{{ item.capital }}</th>
        <th>{{ item.population | number }}</th>
        <th><a [routerLink]="['/countries/by/', item.cca3]">Ver mas</a></th>
      </tr>
    </tbody>
  </table>
</ng-template>
